In [2]:
import logging
from typing import Dict

import numpy as np
import pandas as pd
import yaml
from scipy.stats.mstats import normaltest
from scipy.stats import boxcox
from sklearn.feature_selection import f_classif
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler, OrdinalEncoder, FunctionTransformer

In [3]:
def remove_unnecessary_columns(
    df: pd.DataFrame,
    delete_columns: Dict
) -> pd.DataFrame:
    """
    Removes unnecessary columns from a DataFrame based on the
    specified criteria.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - delete_columns (Dict): A dictionary containing information
      about columns to delete.
        - 'selected_columns' (List[str]): List of column names to be deleted.
        - 'threshold' (float): Threshold for missing data. Columns with
          missing data exceeding this threshold will be deleted.

    Returns:
    - pd.DataFrame: The DataFrame with unnecessary columns removed.
    """
    df.drop(columns=delete_columns['selected_columns'], inplace=True)

    missing_th = int((1 - delete_columns['threshold']) * len(df)) + 1

    missing_data_cols = [
        col for col in df.columns.tolist() if df[col].count() < missing_th
    ]
    logger = logging.getLogger(__name__)
    if len(missing_data_cols) > 0:
        df.drop(columns=missing_data_cols, inplace=True)
        logger.info("Incomplete deleted columns: ", missing_data_cols)
    else:
        logger.info("There are not deleted columns")

    return df


def remove_incomplete_rows(
    df: pd.DataFrame
) -> pd.DataFrame:
    missing_data_cols = [
        col for col in df.columns.tolist() if len(
            df[pd.isnull(df[col])]
        ) > 0
    ]
    for column in missing_data_cols:
        null_values = df[pd.isnull(df[column])].index.tolist()
        df.drop(null_values, axis=0, inplace=True)
        # print(column, '\t', len(null_values), '\t', df[column].dtypes)
    print("Incomplete deleted rows: ", missing_data_cols)
    return df


def reduce_categorical_column_options(
        df: pd.DataFrame,
        reduce_columns: Dict
) -> pd.DataFrame:
    """
    Reduces the number of options in categorical columns of a DataFrame based
    on specified criteria.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - reduce_columns (Dict): A dictionary containing information about columns
      to be reduced.
        - 'exclude' (List[str]): List of column names to be excluded from
          reduction.
        - 'threshold' (float): Threshold for reducing categories. Categories
          with a frequency below this threshold will be replaced with
          'others'.

    Returns:
    - pd.DataFrame: The DataFrame with reduced categorical options.
    """
    df_data_red = df.copy()
    mask = df.dtypes == object
    categorical_cols = df.columns[mask]
    combined_col_names = []
    for col in categorical_cols:
        if col not in reduce_columns['exclude']:
            val_counts = df[col].value_counts()
            replace_cats = list(
                val_counts[
                    (val_counts / val_counts.sum()) < reduce_columns['threshold']
                ].index
            )
            if len(replace_cats) > 0:
                df_data_red[col] = df_data_red.replace(replace_cats, 'others')[col]
                combined_col_names.append(col)

    if len(combined_col_names) > 0:
        print("Reduced columns: ", combined_col_names)
    else:
        print("Not reduced columns")

    return df_data_red


def handle_outliers(
    df: pd.DataFrame,
    outliers_columns: Dict
) -> pd.DataFrame:
    """
    Handles outliers in specified columns of a DataFrame based on statistical
    tests and boundary criteria.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - outliers_columns (Dict): A dictionary containing information about
      columns with outliers.
        - Keys: Column names with outliers.
        - Values: Not used. Can be an empty dictionary or any placeholder.

    Returns:
    - pd.DataFrame: The DataFrame with outliers removed.
    """
    print("Shape before removing: ", df.shape)
    transformed_columns = []

    for col in outliers_columns:
        p_value = normaltest(df[col].values)[1]
        if p_value < 0.05:
            uppper_boundary = df[col].mean() + 3 * df[col].std()
            lower_boundary = df[col].mean() - 3 * df[col].std()
        else:
            IQR = df[col].quantile(0.75) - df[col].quantile(0.25)
            lower_boundary = df[col].quantile(0.25) - (IQR * 1.5)
            uppper_boundary = df[col].quantile(0.75) + (IQR * 1.5)
        outliers = df[
            (df[col] < lower_boundary) | (df[col] > uppper_boundary)
        ].index.tolist()

        if len(outliers) > 0:
            df.drop(outliers, axis=0, inplace=True)
            transformed_columns.append((col, len(outliers)))

    if len(transformed_columns) > 0:
        print("Outliers deleted: ", transformed_columns)
        print("Shape after removing: ", df.shape)
    else:
        print("There are not outliers")
    return df


def treat_skewed_columns(
    df: pd.DataFrame,
    skewed_columns: Dict
) -> pd.DataFrame:
    """
    Treats skewed numerical columns in a DataFrame using specified
    transformation methods.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - skewed_columns (Dict): A dictionary containing information about columns
      and transformation methods.
        - 'exclude_columns' (List[str]): List of column names to be excluded
          from skewness treatment.
        - 'method' (str): Transformation method. Options: "boxcox" or "log".

    Returns:
    - pd.DataFrame: The DataFrame with treated skewed columns.
    """
    mask_float = df.dtypes == np.float64
    float_cols = df.columns[mask_float].tolist()
    mask_int = df.dtypes == np.int64
    int_cols = df.columns[mask_int].tolist()
    numerical_cols = float_cols + int_cols

    if len(numerical_cols) > 0 and len(skewed_columns['exclude_columns']) > 0:
        for column in skewed_columns['exclude_columns']:
            numerical_cols.remove(column)

    transformed_columns = []
    if skewed_columns['method'] == "boxcox":
        boxcox_dict = {}
        for col in numerical_cols:
            print(col, min(df[col]))
            df[col].fillna(0, inplace=True)
            boxcox_current, lam = boxcox(df[col])
            boxcox_dict.update({f"{col}": [boxcox_current, lam]})
            df[col] = boxcox_current
    elif skewed_columns['method'] == "log":
        for col in numerical_cols:
            p_value = normaltest(df[col].values)[1]
            if p_value > 0.05:
                # print(col, p_value)
                if df[col].min() >= 0:
                    df[col] = (df[col] + 1).transform(np.log)
                else:
                    df[col] = (df[col] - df[col].min() + 1).transform(np.log)
                transformed_columns.append(col)

    if len(transformed_columns) > 0:
        print("Transformed columns: ", transformed_columns)
    else:
        print("There are not transformed columns")

    return df


def encode_categorical_columns(
    df: pd.DataFrame
) -> pd.DataFrame:
    """
    Encodes categorical columns in a DataFrame using various encoding
    techniques.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - target_variable (str): The name of the target variable for binary
      encoding.

    Returns:
    - pd.DataFrame: The DataFrame with encoded categorical columns.
    """
    def transform_education_level(df):
        scale_mapper = {
            "Unknown": 1, "Uneducated": 2, "High School": 3,
            "College": 4, "Graduate": 5, "Post-Graduate": 6, "Doctorate": 7
        }
        df["Education_Level"] = df["Education_Level"].replace(scale_mapper)
        return df


    def transform_income_category(df):
        scale_mapper = {
            "Unknown": 1, "Less than $40K": 2, "$40K - $60K": 3, "$60K - $80K": 4,
            "$80K - $120K": 5, "$120K +": 6
        }
        df["Income_Category"] = df["Income_Category"].replace(scale_mapper)
        return df


    trans_education = FunctionTransformer(transform_education_level)
    trans_income = FunctionTransformer(transform_income_category)

    # Create a ColumnTransformer
    preprocessor = ColumnTransformer(
        transformers=[
            ('Custom_education', trans_education, ['Education_Level']),
            ('Custom_income', trans_income, ['Income_Category']),
            ('MinMax', MinMaxScaler(), ['Customer_Age', 'Months_on_book', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Trans_Amt']),
            ('Ordinal', OrdinalEncoder(), ['Marital_Status', 'Gender']),
            ('onehot', OneHotEncoder(), ['Card_Category'])
        ],
        remainder='passthrough',  # Leave the other columns unchanged
    )

    # Label encoder
    preprocessor.fit(df)

    return preprocessor


def _get_anova_fvalue(
    x: pd.DataFrame,
    y: pd.Series
) -> pd.DataFrame:
    # Entre mayor sea el f1, quiere decir que la media entre las
    # clases 0 y 1 de attrition, tiene una mayor variabilidad,
    # lo que quiere decir que esa variable si importa en en an?lisis
    f_scores = f_classif(x, y)[0]  # el [1] son los p-values.
    df_fscores = pd.DataFrame({'features': x.columns, 'score': f_scores})
    df_fscores = df_fscores.sort_values('score', ascending=False)

    return df_fscores


def _get_correlations(
    data: pd.DataFrame,
    threshold: float
) -> pd.DataFrame:
    xcorr = data.corr().abs()
    xcorr = xcorr[xcorr > threshold].fillna(0)
    column1 = []
    column2 = []
    for idx in list(xcorr.index):
        for col in list(xcorr.columns):
            # la matriz es diagonal
            if idx == col:
                break
            if (xcorr.loc[idx, col] != 0):
                column1 = column1 + [idx]
                column2 = column2 + [col]
    df_fcorr = pd.DataFrame({'column1': column1, 'column2': column2})
    return df_fcorr


def _remove_columns_by_correlation(
    x: pd.DataFrame,
    df_most_correlated_cols: pd.DataFrame,
    df_anova_fscores: pd.DataFrame
) -> pd.DataFrame:
    for idx in df_most_correlated_cols.index:
        column1 = df_most_correlated_cols.loc[idx, 'column1']
        column2 = df_most_correlated_cols.loc[idx, 'column2']
        score_column1 = df_anova_fscores.loc[
            df_anova_fscores['features'] == column1, 'score'
        ].ravel()
        score_column2 = df_anova_fscores.loc[
            df_anova_fscores['features'] == column2, 'score'
        ].ravel()
        if score_column1 > score_column2:
            df_most_correlated_cols.loc[idx, 'drop'] = column2
        else:
            df_most_correlated_cols.loc[idx, 'drop'] = column1
    drop_features = list(df_most_correlated_cols['drop'].unique())
    print("removed by correlation: ", drop_features)
    df_removed_columns = x.drop(columns=drop_features, axis=1)
    return df_removed_columns


def _remove_columns_by_fvalue(
    df_clean1: pd.DataFrame,
    df_anova_fscores: pd.DataFrame,
    threshold: float
) -> pd.DataFrame:
    df_anova_fscores = df_anova_fscores[df_anova_fscores['score'] > threshold]
    df_removed_columns = df_clean1[df_anova_fscores['features']]
    return df_removed_columns


def feature_selection_correlation_anova(
    df_encoded_data: pd.DataFrame,
    target: str, threshold: Dict
) -> pd.DataFrame:
    """
    Performs feature selection based on correlation and ANOVA F-value
    criteria.

    Parameters:
    - df_encoded_data (pd.DataFrame): The input DataFrame with encoded
      features.
    - target (str): The name of the target variable.
    - threshold (Dict): A dictionary containing threshold values for
      feature selection.
        - 'corr_threshold' (float): Threshold for correlation coefficient.
        - 'fvalue_threshold' (float): Threshold for ANOVA F-value.

    Returns:
    - pd.DataFrame: The DataFrame with selected features based on
      correlation and ANOVA F-value.
    """
    x = df_encoded_data.drop(columns=[target])
    y = df_encoded_data[target]

    df_anova_fscores = _get_anova_fvalue(x, y)
    df_most_correlated_cols = _get_correlations(
        x, threshold['corr_threshold']
    )
    df_clean1 = _remove_columns_by_correlation(
        x, df_most_correlated_cols, df_anova_fscores
    )
    df_model_input = _remove_columns_by_fvalue(
        df_clean1, df_anova_fscores, threshold['fvalue_threshold']
    )
    df_model_input[target] = y

    return df_model_input

In [4]:
from typing import Dict, Tuple, Any

import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedKFold, StratifiedShuffleSplit
from sklearn.pipeline import Pipeline
from sklearn.metrics import (
    classification_report, accuracy_score, precision_score,
    recall_score, make_scorer, confusion_matrix
)
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
import seaborn as sns


def split_data(
    df: pd.DataFrame,
    target_variable: str,
    model_options_lg: Dict
) -> Tuple:
    y = df[target_variable]
    x = df.drop(columns=[target_variable])

    strat_shuf_split = StratifiedShuffleSplit(
        n_splits=1, test_size=model_options_lg['test_size'],
        random_state=model_options_lg['random_state']
    )

    train_idx, test_idx = next(strat_shuf_split.split(x, y))
    x_train = df.loc[train_idx, x.columns]
    y_train = df.loc[train_idx, target_variable]
    x_test = df.loc[test_idx, x.columns]
    y_test = df.loc[test_idx, target_variable]

    return x_train, y_train, x_test, y_test


def train_model(
    x_train: pd.DataFrame,
    y_train: pd.Series,
    model_options_lg: Dict
) -> Any:
    skf = StratifiedKFold(shuffle=True,
                          random_state=model_options_lg['random_state'],
                          n_splits=model_options_lg['n_splits'])

    ss = StandardScaler()

    scoring = {
        'accuracy': make_scorer(accuracy_score),
        'precision': make_scorer(precision_score, average='macro'),
        'recall': make_scorer(recall_score, average='macro'),
        'f1': make_scorer(f1_score, average='macro')
    }

    if model_options_lg['model'] == "LogisticRegression":
        lreg = LogisticRegression()

        estimator = Pipeline([
            # ("polynomial_features", PolynomialFeatures()),
            ("scaler", ss),
            ("logistic_regression", lreg)])

        params = {
            # 'polynomial_features__degree': [1, 2, 3],
            'logistic_regression__penalty': ['l1', 'l2'],
            'logistic_regression__C': [4, 6, 10],
            'logistic_regression__solver': ['liblinear']
        }

    elif model_options_lg['model'] == "SVC":
        svc = SVC()

        estimator = Pipeline([
            # ("polynomial_features", PolynomialFeatures()),
            ("scaler", ss),
            ("svc_classifier", svc)])

        params = {
            # 'polynomial_features__degree': [1, 2,3],
            'svc_classifier__C': [2, 4, 6],
            'svc_classifier__kernel': ['rbf', 'sigmoid']
        }
    elif model_options_lg['model'] == "RandomForest":
        rf = RandomForestClassifier()

        estimator = Pipeline([
            # ("polynomial_features", PolynomialFeatures()),
            ("scaler", ss),
            ("RF_classifier", rf)])

        params = {
            # 'polynomial_features__degree': [1, 2,3],
            'RF_classifier__n_estimators': [350, 400, 450],
            'RF_classifier__max_depth': [None, 20],
            'RF_classifier__warm_start': [True]
        }

    grid = GridSearchCV(
        estimator, params, scoring=scoring, refit='f1', cv=skf, n_jobs=-1
    )
    grid.fit(x_train, y_train)

    return grid


def evaluate_model(
    model: Any,
    x_test: pd.DataFrame,
    y_test: pd.Series
):
    score, params = model.best_score_, model.best_params_
    print("Best score: ", score)
    print("Best params: ", params)
    predictions = model.predict(x_test)
    print(classification_report(y_test, predictions))
    print(model.cv_results_['mean_test_f1'])
    cr = classification_report(y_test, predictions, output_dict=True)
    df_cr = pd.DataFrame(cr).iloc[:-1, :].T
    sns.heatmap(df_cr, annot=True)

    return plt

In [5]:
def load_yaml_file(file_path):
    with open(file_path, 'r') as file:
        data = yaml.safe_load(file)
    return data

# Example usage
yaml_file_path = 'C:/Users/luisg/Documents/projects/data_science_bank_churn/conf/base/parameters/data_processing.yml'
yaml_data = load_yaml_file(yaml_file_path)

In [6]:
yaml_data

{'target_variable': 'Attrition_Flag',
 'delete_columns': {'threshold': 0.05, 'selected_columns': ['CLIENTNUM']},
 'reduce_options_columns': {'threshold': 0.03, 'exclude': ['Attrition_Flag']},
 'outliers_columns': ['Customer_Age',
  'Dependent_count',
  'Months_on_book',
  'Total_Relationship_Count',
  'Months_Inactive_12_mon',
  'Contacts_Count_12_mon',
  'Credit_Limit',
  'Total_Revolving_Bal',
  'Avg_Open_To_Buy',
  'Total_Amt_Chng_Q4_Q1',
  'Total_Trans_Amt',
  'Total_Trans_Ct',
  'Total_Ct_Chng_Q4_Q1',
  'Avg_Utilization_Ratio'],
 'skewed_columns': {'method': 'log', 'exclude_columns': []},
 'feature_selection': {'corr_threshold': 0.9, 'fvalue_threshold': 1}}

In [7]:
df_data = pd.read_csv(
    'C:/Users/luisg/Documents/projects/data_science_bank_churn/data/01_raw/BankChurners.csv'
)

In [8]:
df_data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [10]:
df_data.Marital_Status.unique()

array(['Married', 'Single', 'Unknown', 'Divorced'], dtype=object)

In [16]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.6+ MB

In [17]:
df_data.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000

In [18]:
for column in df_data.columns:
    print(column, df_data[column].unique())

CLIENTNUM [768805383 818770008 713982108 ... 716506083 717406983 714337233]
Attrition_Flag ['Existing Customer' 'Attrited Customer']
Customer_Age [45 49 51 40 44 32 37 48 42 65 56 35 57 41 61 47 62 54 59 63 53 58 55 66
 50 38 46 52 39 43 64 68 67 60 73 70 36 34 33 26 31 29 30 28 27]
Gender ['M' 'F']
Dependent_count [3 5 4 2 0 1]
Education_Level ['High School' 'Graduate' 'Uneducated' 'Unknown' 'College' 'Post-Graduate'
 'Doctorate']
Marital_Status ['Married' 'Single' 'Unknown' 'Divorced']
Income_Category ['$60K - $80K' 'Less than $40K' '$80K - $120K' '$40K - $60K' '$120K +'
 'Unknown']
Card_Category ['Blue' 'Gold' 'Silver' 'Platinum']
Months_on_book [39 44 36 34 21 46 27 31 54 30 48 37 56 42 49 33 28 38 41 43 45 52 40 50
 35 47 32 20 29 25 53 24 55 23 22 26 13 51 19 15 17 18 16 14]
Total_Relationship_Count [5 6 4 3 2 1]
Months_Inactive_12_mon [1 4 2 3 6 0 5]
Contacts_Count_12_mon [3 2 0 1 4 5 6]
Credit_Limit [12691.  8256.  3418. ...  5409.  5281. 10388.]
Total_Revolving_Bal [ 777  864    0 ...  534  476 2241]
Avg_Open_To_Buy [11914.  7392.  3418. ... 11831.  5409.  8427.]
Total_Amt_Chng_Q4_Q1 [1.335 1.541 2.594 ... 0.222 0.204 0.166]
Total_Trans_Amt [ 1144  1291  1887 ... 10291  8395 10294]
Total_Trans_Ct [ 42  33  20  28  24  31  36  32  26  17  29  27  21  30  16  18  23  22
  40  38  25  43  37  19  35  15  41  57  12  14  34  44  13  47  10  39
  53  50  52  48  49  45  11  55  46  54  60  51  63  58  59  61  78  64
  65  62  67  66  56  69  71  75  74  76  84  82  88  68  70  73  86  72
  79  80  85  81  87  83  91  89  77 103  93  96  99  92  90  94  95  98
 100 102  97 101 104 105 106 107 109 118 108 122 113 112 111 127 114 124
 110 120 125 121 117 126 134 116 119 129 131 115 128 139 123 130 138 132]
Total_Ct_Chng_Q4_Q1 [1.625 3.714 2.333 2.5   0.846 0.722 0.714 1.182 0.882 0.68  1.364 3.25
 2.    0.611 1.7   0.929 1.143 0.909 0.6   1.571 0.353 0.75  0.833 1.3
 1.    0.9   2.571 1.6   1.667 0.483 1.176 1.2   0.556 0.143 0.474 0.917
 1.333 0.588 0.8   1.923 0.25  0.364 1.417 1.083 1.25  0.5   1.154 0.733
 0.667 2.4   1.05  0.286 0.4   0.522 0.435 1.875 0.966 1.412 0.526 0.818
 1.8   1.636 2.182 0.619 0.933 1.222 0.304 0.727 0.385 1.5   0.789 0.542
 1.1   1.095 0.824 0.391 0.346 3.    1.056 1.118 0.786 0.625 1.533 0.382
 0.355 0.765 0.778 2.2   1.545 0.7   1.211 1.231 0.636 0.455 2.875 1.308
 0.467 1.909 0.571 0.812 2.429 0.706 2.167 0.263 0.429 2.286 0.828 1.467
 0.478 0.867 0.88  1.444 1.273 0.941 0.684 0.591 0.762 0.529 0.615 0.519
 0.421 0.947 1.167 1.105 0.737 1.263 0.538 1.071 0.357 0.407 0.923 1.455
 0.35  2.273 0.69  0.65  0.167 0.647 1.615 0.545 0.875 1.125 0.462 1.294
 1.357 3.5   1.067 1.286 0.524 1.214 0.273 1.538 0.783 0.235 0.607 2.083
 0.632 0.368 0.444 0.76  0.536 0.438 0.423 2.1   0.565 0.719 0.182 1.75
 0.944 0.581 0.333 0.643 0.87  0.692 1.227 0.938 1.833 0.652 1.462 0.583
 0.679 0.375 1.091 2.75  1.385 1.188 0.261 1.312 0.656 1.235 0.958 0.37
 0.059 0.3   0.613 1.778 0.955 0.864 1.429 0.889 1.438 0.481 0.452 1.13
 0.562 1.048 0.409 0.622 0.688 1.217 0.211 0.606 0.655 0.381 1.053 1.316
 0.575 0.85  0.41  0.609 1.579 0.56  0.276 0.533 0.515 0.308 0.852 0.371
 0.214 0.63  0.231 0.406 0.405 0.349 0.857 0.212 0.543 1.059 0.579 0.387
 0.724 0.415 0.895 0.781 0.412 0.649 0.32  0.345 0.367 0.586 0.324 0.306
 0.676 0.708 0.476 0.29  0.55  0.133 0.344 0.52  0.471 0.842 0.654 0.516
 0.464 1.857 0.629 0.963 0.686 0.323 0.585 0.633 0.92  0.441 0.424 0.59
 0.763 0.207 0.314 2.222 1.45  0.469 3.571 0.696 0.741 0.512 1.043 0.568
 0.548 0.194 0.552 0.448 0.651 0.393 0.657 0.682 0.808 1.032 0.577 0.241
 0.425 0.348 0.318 0.292 0.312 0.486 0.969 0.697 0.389 0.44  0.829 0.677
 0.189 0.259 0.72  0.815 1.15  0.806 0.537 0.721 0.531 0.472 0.594 0.773
 0.826 0.906 0.417 0.758 1.107 0.621 0.458 0.267 0.107 0.459 0.71  0.487
 0.95  0.321 0.414 0.742 0.739 0.767 0.394 0.091 0.926 0.618 0.784 0.208
 1.136 0.897 0.593 0.294 0.718 1.375 0.862 0.439 0.839 0.595 1.208 0.96
 0.514 0.433 0.484 1.08  0.931 0.233 0.971 0.957 1.038 0.48  0.731 1.474
 1.062 0.608 1.103 1.111 0.725 1.647 0.774 0.477 0.238 0.967 0.769 0.576
 0.567 1.042 0.759 0.81  1.069 0.574 0.528 0.278 0.703 0.447 0.028 0.297
 1.037 0.269 0.962 0.905 0.111 0.513 0.31  0.614 0.436 0.45  1.48  0.296
 0.879 1.114 0.262 1.278 0.257 0.517 1.36  0.605 1.04  0.711 0.844 0.623
 0.913 0.756 1.045 0.775 0.645 0.793 0.488 0.511 0.811 0.838 0.641 0.646
 0.972 0.559 0.659 0.525 0.038 0.871 0.919 0.179 0.639 0.077 0.564 0.419
 0.853 0.64  0.848 1.033 0.351 0.675 0.743 0.952 1.077 1.087 1.12  0.885
 0.592 0.893 0.265 1.292 0.457 0.771 0.977 0.053 1.318 0.809 0.674 0.968
 0.316 0.15  0.558 0.485 0.735 0.275 0.19  1.381 0.379 0.689 0.561 0.174
 0.217 1.174 0.766 0.683 0.    0.281 0.28  0.492 0.788 0.865 0.881 0.794
 0.712 0.658 0.891 1.24  0.911 0.946 0.2   0.465 0.489 0.541 0.86  0.628
 0.062 0.795 1.722 0.892 0.578 0.704 0.732 0.587 0.956 0.185 0.341 0.58
 0.378 1.036 0.549 0.491 0.702 0.638 0.176 0.912 0.535 0.521 0.653 0.604
 0.73  0.66  1.139 0.509 1.882 0.463 0.634 0.694 1.148 0.757 1.35  0.362
 0.822 0.755 0.395 0.861 0.738 1.133 0.872 0.886 1.156 0.532 1.03  0.453
 0.821 1.034 0.635 0.154 0.903 1.207 1.31  0.523 0.878 0.744 0.317 0.93
 0.24  0.804 0.761 0.54  0.479 0.551 1.4   0.553 0.426 0.816 0.698 0.227
 0.896 0.792 1.051 0.61  0.884 0.408 0.617 0.935 0.361 0.902 0.78  0.841
 0.796 0.975 1.081 0.707 0.422 0.964 0.172 0.805 0.717 0.347 1.138 0.791
 0.681 0.256 1.609 0.868 0.468 0.432 1.121 0.787 0.596 0.976 1.158 1.028
 0.949 0.451 0.456 0.837 1.212 0.673 0.222 0.171 0.51  0.685 0.396 0.388
 0.644 0.914 1.476 0.46  0.547 1.421 0.825 0.729 0.723 1.471 0.939 0.974
 0.943 0.84  0.627 0.13  1.147 0.327 1.065 0.705 1.37  0.854 0.951 0.569
 0.921 0.776 0.927 0.449 0.475 0.97  1.097 0.612 1.024 1.088 0.648 0.242
 0.661 0.745 1.522 0.843 0.907 1.027 1.783 0.62  0.814 1.026 0.851 1.094
 0.431 1.057 0.226 0.736 0.103 1.29  0.925 0.566 0.161 0.303 1.152 1.65
 0.74  1.194 1.226 0.642 1.323 1.025 1.074 0.508 0.49  0.534 0.83  0.978
 1.206 1.054 0.936 0.932 0.105 1.061 1.031 1.478 0.898 0.672 0.188 0.518
 0.953 1.049 1.086 0.691 0.411 1.029 1.419 1.075 0.206 0.973 1.219 1.162
 0.827 1.321 0.343 0.764 0.125 0.119 1.189 1.179 1.258 1.229 1.073 0.074
 1.458 1.172 1.32  1.108 1.16  0.36  1.391 1.583 0.147 1.115 0.359 1.128
 0.915 0.282 0.162 1.303 0.582 1.382 1.171 0.029 1.161 0.192 1.346 0.473
 0.097 0.82  0.557 0.894 1.135 1.367 1.023 0.544 0.589 0.603 0.442 0.295
 0.434 0.554 0.372 0.527 0.709 0.782 0.797 0.695 0.849 0.768 0.863 0.746
 0.597 0.631 0.678 0.887 0.754 0.687 0.699 0.873 0.716 0.934 0.847 0.244
 0.803 0.772 0.859 1.064 0.819 0.573 0.807 0.79  0.817 0.785 0.823 0.836
 0.616 0.831 1.06  1.122 0.866 0.662 0.869 0.779 0.981 0.293 0.855 0.98
 0.671 1.079 0.693 0.77  1.093 1.018 1.022 0.734 0.753 0.726 0.922 0.948
 1.684 0.918]
Avg_Utilization_Ratio [0.061 0.105 0.    0.76  0.311 0.066 0.048 0.113 0.144 0.217 0.174 0.195
 0.279 0.23  0.078 0.095 0.788 0.08  0.086 0.152 0.626 0.215 0.093 0.099
 0.285 0.658 0.69  0.282 0.562 0.135 0.544 0.757 0.241 0.077 0.018 0.355
 0.145 0.209 0.793 0.074 0.259 0.591 0.687 0.127 0.667 0.843 0.422 0.156
 0.525 0.587 0.211 0.088 0.111 0.044 0.276 0.704 0.656 0.053 0.051 0.467
 0.698 0.067 0.079 0.287 0.36  0.256 0.719 0.198 0.14  0.035 0.619 0.108
 0.062 0.765 0.963 0.524 0.347 0.45  0.232 0.299 0.085 0.059 0.43  0.62
 0.027 0.169 0.058 0.223 0.057 0.513 0.473 0.047 0.106 0.05  0.03  0.615
 0.15  0.407 0.191 0.096 0.176 0.83  0.412 0.678 0.246 0.271 0.114 0.395
 0.406 0.258 0.178 0.941 0.141 0.118 0.119 0.64  0.432 0.612 0.359 0.309
 0.101 0.607 0.512 0.806 0.463 0.77  0.076 0.133 0.037 0.146 0.171 0.069
 0.837 0.055 0.294 0.39  0.19  0.692 0.503 0.251 0.11  0.087 0.214 0.164
 0.049 0.043 0.679 0.098 0.694 0.039 0.199 0.22  0.13  0.202 0.319 0.165
 0.863 0.665 0.598 0.539 0.472 0.064 0.16  0.42  0.713 0.092 0.336 0.666
 0.147 0.987 0.073 0.88  0.28  0.65  0.761 0.072 0.327 0.459 0.252 0.244
 0.291 0.46  0.489 0.482 0.24  0.197 0.866 0.317 0.762 0.162 0.196 0.734
 0.446 0.262 0.042 0.094 0.308 0.68  0.238 0.753 0.877 0.724 0.117 0.638
 0.102 0.131 0.255 0.716 0.609 0.405 0.154 0.605 0.275 0.06  0.07  0.186
 0.648 0.167 0.153 0.79  0.732 0.123 0.221 0.2   0.063 0.785 0.771 0.224
 0.795 0.187 0.583 0.316 0.447 0.625 0.514 0.557 0.955 0.867 0.846 0.756
 0.31  0.373 0.935 0.155 0.435 0.932 0.829 0.953 0.188 0.82  0.616 0.595
 0.521 0.268 0.09  0.885 0.546 0.569 0.183 0.639 0.329 0.274 0.161 0.865
 0.73  0.134 0.137 0.478 0.361 0.312 0.036 0.243 0.805 0.168 0.103 0.179
 0.529 0.227 0.706 0.075 0.804 0.708 0.766 0.381 0.046 0.428 0.112 0.041
 0.85  0.517 0.72  0.056 0.548 0.436 0.201 0.523 0.081 0.403 0.671 0.752
 0.194 0.657 0.476 0.729 0.911 0.78  0.35  0.636 0.632 0.226 0.798 0.781
 0.148 0.029 0.12  0.651 0.257 0.204 0.231 0.18  0.617 0.458 0.142 0.054
 0.374 0.491 0.216 0.572 0.32  0.212 0.545 0.314 0.393 0.599 0.33  0.663
 0.159 0.185 0.371 0.506 0.448 0.128 0.269 0.333 0.125 0.091 0.53  0.303
 0.682 0.456 0.584 0.337 0.51  0.819 0.543 0.81  0.189 0.213 0.068 0.033
 0.261 0.071 0.41  0.712 0.515 0.593 0.203 0.286 0.457 0.654 0.122 0.345
 0.825 0.1   0.206 0.976 0.17  0.292 0.139 0.109 0.278 0.324 0.745 0.402
 0.397 0.045 0.177 0.611 0.284 0.578 0.318 0.803 0.594 0.684 0.019 0.722
 0.032 0.115 0.511 0.306 0.104 0.219 0.709 0.621 0.082 0.553 0.465 0.707
 0.166 0.859 0.677 0.253 0.586 0.425 0.801 0.084 0.645 0.149 0.343 0.878
 0.304 0.814 0.342 0.848 0.163 0.222 0.469 0.519 0.272 0.325 0.702 0.181
 0.693 0.809 0.479 0.468 0.356 0.811 0.34  0.63  0.372 0.637 0.507 0.749
 0.129 0.674 0.794 0.582 0.464 0.065 0.315 0.691 0.501 0.218 0.56  0.175
 0.5   0.378 0.613 0.313 0.727 0.239 0.603 0.57  0.27  0.034 0.247 0.737
 0.124 0.589 0.534 0.237 0.136 0.789 0.777 0.52  0.653 0.016 0.346 0.721
 0.675 0.138 0.266 0.442 0.326 0.301 0.717 0.023 0.025 0.25  0.281 0.796
 0.296 0.334 0.471 0.571 0.352 0.143 0.608 0.775 0.67  0.321 0.696 0.689
 0.624 0.408 0.157 0.439 0.672 0.302 0.225 0.357 0.527 0.431 0.831 0.755
 0.786 0.026 0.659 0.416 0.451 0.052 0.404 0.394 0.391 0.736 0.854 0.791
 0.126 0.363 0.874 0.297 0.341 0.344 0.208 0.733 0.234 0.116 0.828 0.365
 0.182 0.384 0.526 0.396 0.031 0.516 0.748 0.354 0.349 0.233 0.497 0.248
 0.339 0.132 0.588 0.764 0.705 0.575 0.536 0.021 0.205 0.835 0.549 0.74
 0.889 0.083 0.596 0.735 0.827 0.522 0.711 0.377 0.351 0.242 0.366 0.697
 0.328 0.778 0.743 0.492 0.715 0.623 0.488 0.263 0.568 0.089 0.779 0.47
 0.264 0.415 0.58  0.452 0.289 0.635 0.229 0.75  0.695 0.6   0.784 0.173
 0.822 0.812 0.265 0.574 0.475 0.295 0.662 0.3   0.566 0.994 0.669 0.04
 0.856 0.532 0.461 0.559 0.331 0.602 0.445 0.466 0.597 0.646 0.474 0.305
 0.556 0.742 0.631 0.718 0.606 0.647 0.758 0.644 0.499 0.873 0.245 0.487
 0.558 0.49  0.121 0.869 0.797 0.437 0.772 0.7   0.934 0.857 0.015 0.547
 0.353 0.699 0.495 0.409 0.29  0.293 0.494 0.477 0.235 0.894 0.417 0.881
 0.207 0.928 0.484 0.852 0.038 0.228 0.643 0.655 0.283 0.642 0.581 0.379
 0.542 0.579 0.434 0.44  0.535 0.913 0.776 0.551 0.401 0.273 0.172 0.375
 0.714 0.668 0.362 0.833 0.633 0.783 0.614 0.763 0.844 0.744 0.61  0.453
 0.481 0.563 0.418 0.399 0.348 0.59  0.413 0.498 0.267 0.398 0.386 0.815
 0.249 0.429 0.799 0.751 0.821 0.323 0.107 0.807 0.816 0.99  0.573 0.449
 0.883 0.768 0.925 0.773 0.38  0.604 0.411 0.832 0.184 0.438 0.552 0.792
 0.376 0.641 0.37  0.158 0.426 0.277 0.493 0.629 0.02  0.236 0.21  0.726
 0.531 0.92  0.949 0.628 0.731 0.518 0.358 0.554 0.893 0.943 0.944 0.601
 0.307 0.725 0.368 0.924 0.661 0.151 0.769 0.576 0.424 0.664 0.024 0.922
 0.537 0.884 0.483 0.462 0.899 0.622 0.013 0.954 0.683 0.192 0.774 0.824
 0.858 0.984 0.414 0.561 0.879 0.504 0.509 0.968 0.918 0.836 0.332 0.028
 0.938 0.541 0.48  0.533 0.528 0.254 0.423 0.288 0.369 0.93  0.813 0.915
 0.364 0.688 0.902 0.868 0.942 0.567 0.022 0.703 0.585 0.906 0.754 0.855
 0.839 0.681 0.298 0.872 0.455 0.929 0.008 0.388 0.912 0.322 0.853 0.454
 0.685 0.747 0.66  0.904 0.738 0.485 0.496 0.577 0.927 0.746 0.565 0.634
 0.887 0.845 0.951 0.444 0.427 0.962 0.564 0.851 0.897 0.876 0.421 0.012
 0.649 0.759 0.84  0.842 0.87  0.097 0.983 0.433 0.387 0.441 0.767 0.903
 0.592 0.895 0.896 0.652 0.8   0.4   0.017 0.862 0.849 0.676 0.999 0.921
 0.673 0.948 0.004 0.864 0.55  0.787 0.392 0.443 0.505 0.538 0.71  0.367
 0.985 0.741 0.826 0.817 0.508 0.26  0.618 0.94  0.916 0.823 0.9   0.193
 0.419 0.841 0.919 0.959 0.723 0.486 0.54  0.905 0.385 0.782 0.006 0.502
 0.802 0.875 0.931 0.011 0.926 0.728 0.382 0.335 0.891 0.871 0.701 0.739
 0.383 0.834 0.898 0.389 0.901 0.988 0.907 0.686 0.86  0.882 0.861 0.917
 0.555 0.808 0.338 0.96  0.972 0.01  0.847 0.964 0.886 0.995 0.818 0.958
 0.627 0.992 0.952 0.91  0.978 0.973 0.971 0.945 0.914 0.977 0.956 0.909
 0.005 0.007 0.014 0.009]

In [19]:
yaml_data

{'target_variable': 'Attrition_Flag',
 'delete_columns': {'threshold': 0.05, 'selected_columns': ['CLIENTNUM']},
 'reduce_options_columns': {'threshold': 0.03, 'exclude': ['Attrition_Flag']},
 'outliers_columns': ['Customer_Age',
  'Dependent_count',
  'Months_on_book',
  'Total_Relationship_Count',
  'Months_Inactive_12_mon',
  'Contacts_Count_12_mon',
  'Credit_Limit',
  'Total_Revolving_Bal',
  'Avg_Open_To_Buy',
  'Total_Amt_Chng_Q4_Q1',
  'Total_Trans_Amt',
  'Total_Trans_Ct',
  'Total_Ct_Chng_Q4_Q1',
  'Avg_Utilization_Ratio'],
 'skewed_columns': {'method': 'log', 'exclude_columns': []},
 'feature_selection': {'corr_threshold': 0.9, 'fvalue_threshold': 1}}

### Data processing

In [20]:
def transform_target(df, target_variable):
    df[target_variable] = df[target_variable].apply(
        lambda x: 0 if x == "Existing Customer" else 1
    )
    df.rename(columns={target_variable: "Attrition"}, inplace=True)
    return df


df_data = pd.read_csv(
    'C:/Users/luisg/Documents/projects/data_science_bank_churn/data/01_raw/BankChurners.csv'
)
print(len(df_data.columns))
df_data = transform_target(df_data, 'Attrition_Flag')
df_data = remove_unnecessary_columns(df_data, yaml_data['delete_columns'])
print(len(df_data.columns))
df_data = reduce_categorical_column_options(df_data, yaml_data['reduce_options_columns'])
df_data = handle_outliers(df_data, yaml_data['outliers_columns'])
# df_data = treat_skewed_columns(df_data, yaml_data['skewed_columns'])
# df_data = encode_categorical_columns(df_data, yaml_data['target_variable'])
df_data.reset_index(inplace=True, drop=True)

21
20
Reduced columns:  ['Card_Category']
Shape before removing:  (10127, 20)
Outliers deleted:  [('Customer_Age', 1), ('Months_Inactive_12_mon', 124), ('Contacts_Count_12_mon', 620), ('Total_Amt_Chng_Q4_Q1', 159), ('Total_Trans_Amt', 308), ('Total_Trans_Ct', 7), ('Total_Ct_Chng_Q4_Q1', 92)]
Shape after removing:  (8816, 20)

In [21]:
df_data.head()

,Attrition,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,0,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
1,0,42,M,5,Uneducated,Unknown,$120K +,Blue,31,5,3,2,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217
2,0,57,F,2,Graduate,Married,Less than $40K,Blue,48,5,2,2,2436.0,680,1756.0,1.190,1570,29,0.611,0.279
3,0,45,F,2,Graduate,Married,Unknown,Blue,37,6,1,2,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080
4,1,62,F,0,Graduate,Married,Less than $40K,Blue,49,2,3,3,1438.3,0,1438.3,1.047,692,16,0.600,0.000

In [22]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8816 entries, 0 to 8815
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition                 8816 non-null   int64
 1   Customer_Age              8816 non-null   int64
 2   Gender                    8816 non-null   object
 3   Dependent_count           8816 non-null   int64
 4   Education_Level           8816 non-null   object
 5   Marital_Status            8816 non-null   object
 6   Income_Category           8816 non-null   object
 7   Card_Category             8816 non-null   object
 8   Months_on_book            8816 non-null   int64
 9   Total_Relationship_Count  8816 non-null   int64
 10  Months_Inactive_12_mon    8816 non-null   int64
 11  Contacts_Count_12_mon     8816 non-null   int64
 12  Credit_Limit              8816 non-null   float64
 13  Total_Revolving_Bal       8816 non-null   int64
 14  Avg_Open_To_Buy           8816 non-null   float64
 15  Total_Amt_Chng_Q4_Q1      8816 non-null   float64
 16  Total_Trans_Amt           8816 non-null   int64
 17  Total_Trans_Ct            8816 non-null   int64
 18  Total_Ct_Chng_Q4_Q1       8816 non-null   float64
 19  Avg_Utilization_Ratio     8816 non-null   float64
dtypes: float64(5), int64(10), object(5)
memory usage: 1.3+ MB

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler, OrdinalEncoder, FunctionTransformer, OrdinalEncoder


df = df_data.copy()
target_variable = 'Attrition'
y = df[target_variable]
x = df.drop(columns=[target_variable])


# Ordinal variables
def transform_education_level(df):
    scale_mapper = {
        "Unknown": 1, "Uneducated": 2, "High School": 3,
        "College": 4, "Graduate": 5, "Post-Graduate": 6, "Doctorate": 7
    }
    df["Education_Level"] = df["Education_Level"].replace(scale_mapper)
    return df


def transform_income_category(df):
    scale_mapper = {
        "Unknown": 1, "Less than $40K": 2, "$40K - $60K": 3, "$60K - $80K": 4,
        "$80K - $120K": 5, "$120K +": 6
    }
    df["Income_Category"] = df["Income_Category"].replace(scale_mapper)
    return df


# trans_education = FunctionTransformer(transform_education_level)
# trans_income = FunctionTransformer(transform_income_category)

education_order = ['Unknown', 'Uneducated', 'High School', 'College', 'Graduate', 'Post-Graduate', 'Doctorate']
income_order = ["Unknown", "Less than $40K", "$40K - $60K", "$60K - $80K", "$80K - $120K", "$120K +"]

# Create a ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('Custom_education', OrdinalEncoder(categories=[education_order]), ['Education_Level']),
        ('Custom_income', OrdinalEncoder(categories=[income_order]), ['Income_Category']),
        ('MinMax', MinMaxScaler(), ['Customer_Age', 'Months_on_book', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Trans_Amt']),
        ('Ordinal', OrdinalEncoder(), ['Marital_Status', 'Gender']),
        ('onehot', OneHotEncoder(), ['Card_Category'])
    ],
    remainder='passthrough', # Leave the other columns unchanged

)

# Label encoder
preprocessor.fit(x) 
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('Custom_education',
                                 OrdinalEncoder(categories=[['Unknown',
                                                             'Uneducated',
                                                             'High School',
                                                             'College',
                                                             'Graduate',
                                                             'Post-Graduate',
                                                             'Doctorate']]),
                                 ['Education_Level']),
                                ('Custom_income',
                                 OrdinalEncoder(categories=[['Unknown',
                                                             'Less than $40K',
                                                             '$40K - $60K',
                                                             '$60K - $80K',
                                                             '$80K - $120K',
                                                             '$120K +']]),
                                 ['Income_Category']),
                                ('MinMax', MinMaxScaler(),
                                 ['Customer_Age', 'Months_on_book',
                                  'Credit_Limit', 'Total_Revolving_Bal',
                                  'Avg_Open_To_Buy', 'Total_Trans_Amt']),
                                ('Ordinal', OrdinalEncoder(),
                                 ['Marital_Status', 'Gender']),
                                ('onehot', OneHotEncoder(), ['Card_Category'])])

In [24]:
x.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
1,42,M,5,Uneducated,Unknown,$120K +,Blue,31,5,3,2,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217
2,57,F,2,Graduate,Married,Less than $40K,Blue,48,5,2,2,2436.0,680,1756.0,1.190,1570,29,0.611,0.279
3,45,F,2,Graduate,Married,Unknown,Blue,37,6,1,2,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080
4,62,F,0,Graduate,Married,Less than $40K,Blue,49,2,3,3,1438.3,0,1438.3,1.047,692,16,0.600,0.000

In [25]:
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('Custom_education',
                                 OrdinalEncoder(categories=[['Unknown',
                                                             'Uneducated',
                                                             'High School',
                                                             'College',
                                                             'Graduate',
                                                             'Post-Graduate',
                                                             'Doctorate']]),
                                 ['Education_Level']),
                                ('Custom_income',
                                 OrdinalEncoder(categories=[['Unknown',
                                                             'Less than $40K',
                                                             '$40K - $60K',
                                                             '$60K - $80K',
                                                             '$80K - $120K',
                                                             '$120K +']]),
                                 ['Income_Category']),
                                ('MinMax', MinMaxScaler(),
                                 ['Customer_Age', 'Months_on_book',
                                  'Credit_Limit', 'Total_Revolving_Bal',
                                  'Avg_Open_To_Buy', 'Total_Trans_Amt']),
                                ('Ordinal', OrdinalEncoder(),
                                 ['Marital_Status', 'Gender']),
                                ('onehot', OneHotEncoder(), ['Card_Category'])])

In [26]:
x.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
1,42,M,5,Uneducated,Unknown,$120K +,Blue,31,5,3,2,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217
2,57,F,2,Graduate,Married,Less than $40K,Blue,48,5,2,2,2436.0,680,1756.0,1.190,1570,29,0.611,0.279
3,45,F,2,Graduate,Married,Unknown,Blue,37,6,1,2,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080
4,62,F,0,Graduate,Married,Less than $40K,Blue,49,2,3,3,1438.3,0,1438.3,1.047,692,16,0.600,0.000

### Model Training

In [27]:

def load_yaml_file(file_path):
    with open(file_path, 'r') as file:
        data = yaml.safe_load(file)
    return data

# Example usage
yaml_file_path = 'C:/Users/luisg/Documents/projects/data_science_bank_churn/conf/base/parameters/data_science.yml'
yaml_training_data = load_yaml_file(yaml_file_path)

In [28]:
yaml_training_data

{'target': 'Attrition',
 'model_options_lg': {'n_splits': 3,
  'test_size': 0.2,
  'random_state': 42,
  'model': 'LogisticRegression'},
 'model_options_svm': {'n_splits': 3,
  'test_size': 0.2,
  'random_state': 42,
  'model': 'SVC'},
 'model_options_rf': {'n_splits': 3,
  'test_size': 0.2,
  'random_state': 42,
  'model': 'RandomForest'}}

In [29]:
# x_train, y_train, x_test, y_test = split_data(df_data, 'Attrition', yaml_training_data['model_options_lg'])
# target_variable = 'Attrition'
# y = df_data[target_variable]
# x = df_data.drop(columns=[target_variable])

strat_shuf_split = StratifiedShuffleSplit(
    n_splits=1, test_size=0.2,
    random_state=42
)
# Use the split method to get the indices for training and testing sets
# for train_index, test_index in strat_shuf_split.split(x, y):
#     X_train, X_test = x[train_index], x[test_index]
#     y_train, y_test = y[train_index], y[test_index]
# train_idx, test_idx = next(strat_shuf_split.split(x, y))
# x_train = df_data.loc[train_idx, x.columns]
# y_train = df_data.loc[train_idx, target_variable]
# x_test = df_data.loc[test_idx, x.columns]
# y_test = df_data.loc[test_idx, target_variable]

train_idx, test_idx = next(strat_shuf_split.split(x, y))
x_train = x.iloc[train_idx, :]
y_train = y[train_idx]
x_test = x.loc[test_idx, :]
y_test = y[test_idx]

In [30]:
x_train

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
7322,36,F,1,Graduate,Married,Less than $40K,Blue,29,4,2,3,1493.0,0,1493.0,0.721,2516,63,0.575,0.000
5747,62,M,0,Graduate,Divorced,$40K - $60K,Blue,36,6,3,2,4049.0,0,4049.0,0.567,4003,73,0.659,0.000
6555,42,M,4,Graduate,Single,$40K - $60K,Blue,33,5,3,2,2654.0,1489,1165.0,0.668,4767,82,0.673,0.561
7892,43,M,2,High School,Single,$120K +,Blue,30,1,2,2,10896.0,2517,8379.0,1.028,4935,58,0.487,0.231
2816,50,F,3,Graduate,Single,Less than $40K,Blue,36,4,3,2,1438.3,1002,436.3,1.306,2004,25,0.667,0.697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4074,42,F,3,Uneducated,Single,Less than $40K,Blue,22,4,1,4,1438.3,860,578.3,0.761,4754,79,0.837,0.598
7739,47,M,2,Graduate,Unknown,$80K - $120K,Blue,41,2,2,2,21325.0,2197,19128.0,0.647,7053,69,0.865,0.103
668,43,F,4,Graduate,Married,Less than $40K,Blue,37,4,3,2,4724.0,2056,2668.0,0.423,1232,31,0.550,0.435
1430,35,M,2,Uneducated,Married,$120K +,Blue,26,3,3,4,2944.0,1596,1348.0,0.737,2070,44,0.467,0.542
55,43,F,4,Post-Graduate,Married,Less than $40K,Blue,33,2,3,3,8358.0,926,7432.0,0.762,1566,37,0.542,0.111

In [31]:
skf = StratifiedKFold(shuffle=True, random_state=42, n_splits=3)


scoring = {
    # 'accuracy': make_scorer(accuracy_score),
    # 'precision': make_scorer(precision_score, average='macro'),
    # 'recall': make_scorer(recall_score, average='macro'),
    'f1': make_scorer(f1_score, average='macro')
}

lreg = LogisticRegression()

estimator = Pipeline([
    ("preprocessing", preprocessor),
    ("logistic_regression", lreg)]
)

params = {
    # 'polynomial_features__degree': [1, 2, 3],
    'logistic_regression__penalty': ['l1', 'l2'],
    'logistic_regression__C': [4, 6, 10],
    'logistic_regression__solver': ['liblinear']
}

grid = GridSearchCV(
    estimator, params, scoring=scoring, refit='f1', cv=skf, n_jobs=-1
)
grid.fit(x_train, y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=3, random_state=42, shuffle=True),
             estimator=Pipeline(steps=[('preprocessing',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('Custom_education',
                                                                         OrdinalEncoder(categories=[['Unknown',
                                                                                                     'Uneducated',
                                                                                                     'High '
                                                                                                     'School',
                                                                                                     'College',
                                                                                                     'Graduate',
                                                                                                     'Post-Graduate',
                                                                                                     'Doctorate']]),
                                                                         ['Education_Level']),
                                                                        ('Custom_income',
                                                                         Or...
                                                                        ('Ordinal',
                                                                         OrdinalEncoder(),
                                                                         ['Marital_Status',
                                                                          'Gender']),
                                                                        ('onehot',
                                                                         OneHotEncoder(),
                                                                         ['Card_Category'])])),
                                       ('logistic_regression',
                                        LogisticRegression())]),
             n_jobs=-1,
             param_grid={'logistic_regression__C': [4, 6, 10],
                         'logistic_regression__penalty': ['l1', 'l2'],
                         'logistic_regression__solver': ['liblinear']},
             refit='f1', scoring={'f1': make_scorer(f1_score, average=macro)})

In [32]:
model = grid.best_estimator_

In [33]:
model

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('Custom_education',
                                                  OrdinalEncoder(categories=[['Unknown',
                                                                              'Uneducated',
                                                                              'High '
                                                                              'School',
                                                                              'College',
                                                                              'Graduate',
                                                                              'Post-Graduate',
                                                                              'Doctorate']]),
                                                  ['Education_Level']),
                                                 ('Custom_income',
                                                  OrdinalEncoder(categories=[['Unknown',
                                                                              'Less '
                                                                              'than '
                                                                              '$40K',
                                                                              '$40K '
                                                                              '- '
                                                                              '$60K',
                                                                              '$60K '
                                                                              '- '
                                                                              '$8...
                                                                              '$120K '
                                                                              '+']]),
                                                  ['Income_Category']),
                                                 ('MinMax', MinMaxScaler(),
                                                  ['Customer_Age',
                                                   'Months_on_book',
                                                   'Credit_Limit',
                                                   'Total_Revolving_Bal',
                                                   'Avg_Open_To_Buy',
                                                   'Total_Trans_Amt']),
                                                 ('Ordinal', OrdinalEncoder(),
                                                  ['Marital_Status', 'Gender']),
                                                 ('onehot', OneHotEncoder(),
                                                  ['Card_Category'])])),
                ('logistic_regression',
                 LogisticRegression(C=4, penalty='l1', solver='liblinear'))])

In [34]:
grid.cv_results_

{'mean_fit_time': array([0.15127476, 0.07060917, 0.10956836, 0.07816617, 0.08556056,
        0.05198479]),
 'std_fit_time': array([0.05847052, 0.00289896, 0.02121791, 0.00435732, 0.00534951,
        0.00253826]),
 'mean_score_time': array([0.01641091, 0.01617161, 0.01644508, 0.01636219, 0.01419425,
        0.00838232]),
 'std_score_time': array([0.0001914 , 0.00056389, 0.00432153, 0.00012813, 0.00183975,
        0.0059272 ]),
 'param_logistic_regression__C': masked_array(data=[4, 4, 6, 6, 10, 10],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_logistic_regression__penalty': masked_array(data=['l1', 'l2', 'l1', 'l2', 'l1', 'l2'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_logistic_regression__solver': masked_array(data=['liblinear', 'liblinear', 'liblinear', 'liblinear',
                    'liblinear', 'liblinear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'logistic_regression__C': 4,
   'logistic_regression__penalty': 'l1',
   'logistic_regression__solver': 'liblinear'},
  {'logistic_regression__C': 4,
   'logistic_regression__penalty': 'l2',
   'logistic_regression__solver': 'liblinear'},
  {'logistic_regression__C': 6,
   'logistic_regression__penalty': 'l1',
   'logistic_regression__solver': 'liblinear'},
  {'logistic_regression__C': 6,
   'logistic_regression__penalty': 'l2',
   'logistic_regression__solver': 'liblinear'},
  {'logistic_regression__C': 10,
   'logistic_regression__penalty': 'l1',
   'logistic_regression__solver': 'liblinear'},
  {'logistic_regression__C': 10,
   'logistic_regression__penalty': 'l2',
   'logistic_regression__solver': 'liblinear'}],
 'split0_test_f1': array([0.79571083, 0.79582802, 0.79571083, 0.79582802, 0.79511414,
        0.79690797]),
 'split1_test_f1': array([0.78340638, 0.7834804 , 0.78340638, 0.78180196, 0.78231481,
        0.782897  ]),
 'split2_test_f1': array([0.79810291, 0.79489651, 0.79810291, 0.79589647, 0.79810291,
        0.79700111]),
 'mean_test_f1': array([0.7924067 , 0.79140164, 0.7924067 , 0.79117548, 0.79184396,
        0.79226869]),
 'std_test_f1': array([0.00643868, 0.00561406, 0.00643868, 0.00662814, 0.0068477 ,
        0.0066269 ]),
 'rank_test_f1': array([1, 5, 1, 6, 4, 3])}

In [35]:
from pathlib import Path

file_path = Path.cwd()
model_path = file_path.parent / "data" / "06_models" / "model_notebook.pkl"
preprocessor_path = file_path.parent / "data" / "06_models" / "preprocessor.pkl"
model_path

WindowsPath('c:/Users/luisg/Documents/projects/data_science_bank_churn/data/06_models/model_notebook.pkl')

In [37]:
import pickle

# Save the model using pickle
with open(model_path, 'wb') as file:
    pickle.dump(model, file)

# Save the preprocessor using pickle
with open(preprocessor_path, 'wb') as file:
    pickle.dump(preprocessor, file)

In [38]:
import pickle


# Now you can load the model later if needed
with open(model_path, 'rb') as file:
    loaded_model = pickle.load(file)

# Now you can load the model later if needed
with open(preprocessor_path, 'rb') as file:
    preprocessor = pickle.load(file)

c:\Users\luisg\Documents\projects\data_science_bank_churn\data\06_models\model_notebook.pkl

In [185]:
x_test

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
999,56,F,4,High School,Single,Less than $40K,Blue,36,3,1,3,8881.0,2145,6736.0,0.705,2027,49,0.815,0.242
1697,54,F,0,Graduate,Divorced,Less than $40K,Silver,36,4,3,1,12547.0,1378,11169.0,1.120,3360,56,0.750,0.110
653,26,M,0,Graduate,Single,Unknown,Blue,19,4,1,2,1438.3,0,1438.3,0.472,2005,47,0.469,0.000
3863,51,M,2,High School,Married,$60K - $80K,Blue,46,5,3,2,4123.0,1760,2363.0,0.869,2447,40,0.429,0.427
271,46,F,4,Graduate,Divorced,Less than $40K,Blue,36,5,3,1,9478.0,820,8658.0,0.640,1327,41,0.864,0.087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4616,39,F,1,Uneducated,Single,Less than $40K,Blue,34,3,1,4,6904.0,1148,5756.0,0.649,3485,84,0.615,0.166
2784,46,F,2,High School,Unknown,Unknown,Blue,32,4,1,3,7966.0,1423,6543.0,0.987,3780,75,0.923,0.179
3136,43,M,5,Graduate,Unknown,$40K - $60K,Blue,38,3,3,2,7599.0,1100,6499.0,0.365,4401,71,0.651,0.145
1428,37,F,3,Graduate,Single,Less than $40K,Blue,36,5,2,4,3685.0,1396,2289.0,0.974,3016,85,0.809,0.379
5635,42,F,1,Graduate,Single,Less than $40K,Blue,36,4,3,1,3595.0,1904,1691.0,0.891,5025,84,0.647,0.530

In [186]:
predictions = loaded_model.predict(x_test)

In [187]:
y_test

999     0
1697    0
653     0
3863    1
271     0
       ..
4616    0
2784    0
3136    0
1428    0
5635    0
Name: Attrition, Length: 1764, dtype: int64

In [188]:
accuracy_score(y_test, predictions)

0.8979591836734694

In [189]:
y_train

7322    1
5747    0
6555    0
7892    1
2816    0
       ..
4074    0
7739    0
668     0
1430    0
55      0
Name: Attrition, Length: 7052, dtype: int64

In [190]:
f1_score(y_train, loaded_model.predict(x_train))

0.6544930321960596

In [191]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.92      0.96      0.94      1469
           1       0.75      0.59      0.66       295

    accuracy                           0.90      1764
   macro avg       0.83      0.77      0.80      1764
weighted avg       0.89      0.90      0.89      1764

In [192]:
confusion_matrix(y_test, predictions)

array([[1411,   58],
       [ 122,  173]], dtype=int64)

In [4]:
import pandas as pd


df_prueba = pd.read_csv('C:/Users/luisg/Documents/projects/data_science_bank_churn/data/01_raw/BankChurners.csv')
df_prueba = df_prueba.head(1)
df_prueba.drop(columns=['Attrition_Flag'], inplace=True)
# df_prueba.rename(columns={"Attrition_Flag": "Attrition"}, inplace=True)
df_prueba.head()

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061

In [1]:
print(len(df_prueba.columns))

NameError: name 'df_prueba' is not defined

In [6]:
# df_prueba = remove_unnecessary_columns(df_prueba, yaml_data['delete_columns'])
df_prueba.drop(columns=['CLIENTNUM'], inplace = True)
df_prueba.reset_index(inplace=True, drop=True)
df_prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_Age              1 non-null      int64
 1   Gender                    1 non-null      object
 2   Dependent_count           1 non-null      int64
 3   Education_Level           1 non-null      object
 4   Marital_Status            1 non-null      object
 5   Income_Category           1 non-null      object
 6   Card_Category             1 non-null      object
 7   Months_on_book            1 non-null      int64
 8   Total_Relationship_Count  1 non-null      int64
 9   Months_Inactive_12_mon    1 non-null      int64
 10  Contacts_Count_12_mon     1 non-null      int64
 11  Credit_Limit              1 non-null      float64
 12  Total_Revolving_Bal       1 non-null      int64
 13  Avg_Open_To_Buy           1 non-null      float64
 14  Total_Amt_Chng_Q4_Q1      1 non-null      float64
 15  Total_Trans_Amt           1 non-null      int64
 16  Total_Trans_Ct            1 non-null      int64
 17  Total_Ct_Chng_Q4_Q1       1 non-null      float64
 18  Avg_Utilization_Ratio     1 non-null      float64
dtypes: float64(5), int64(9), object(5)
memory usage: 280.0+ bytes

In [7]:
len(df_prueba.values.tolist()[0])

19

In [8]:
# df_prueba.drop(columns=['CLIENTNUM'], inplace= True)
# data_scaled=preprocessor.transform(df_prueba)

result_dict = {0: "No Churn", 1: "Churn"}
result = loaded_model.predict(df_prueba)
{'result': result_dict[result[0]]}

{'result': 'No Churn'}

In [239]:
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('Custom_education',
                                 FunctionTransformer(func=<function transform_education_level at 0x0000027BD60BC598>),
                                 ['Education_Level']),
                                ('Custom_income',
                                 FunctionTransformer(func=<function transform_income_category at 0x0000027BD60BC0D0>),
                                 ['Income_Category']),
                                ('MinMax', MinMaxScaler(),
                                 ['Customer_Age', 'Months_on_book',
                                  'Credit_Limit', 'Total_Revolving_Bal',
                                  'Avg_Open_To_Buy', 'Total_Trans_Amt']),
                                ('Ordinal', OrdinalEncoder(),
                                 ['Marital_Status', 'Gender']),
                                ('onehot', OneHotEncoder(), ['Card_Category'])])